<div class="container">
    <div class="row">
        <!--About me-->
        <div class="col-lg shadow border m-1">
            <div class="text-center p-3">
                <h2 class="py-3">About Me</h2>
                <img src="../../assets/Headshot.jpg" alt="profile picture" width="256" height="256" class="rounded-circle">
                <p class="py-3">Introduction Text</p>
            </div>
        </div>
         <!--Featured Project-->
        <div class="col-lg shadow border m-1">
            <div class="text-center p-3">
                <h2 class="py-3">Featured Project</h2>
            </div>
        </div>
    </div>
</div>